<div class="container mx-auto my-5 px-4">

  <!-- Cabecero centrado -->
  <app-cabecera 
    [presupuestoTotal]="getPresupuestoTotal()"
    [porcentajeTotal]="getPorcentajeTotal()"
    [egresoTotal]="getEgresoTotal()"
    [ingresoTotal]="getIngresoTotal()"
  />

  <!-- Formulario centrado -->
  <app-formulario/>

  <!-- Ingresos y Egresos en columnas de igual tamaño -->
  <div class="mt-4 flex space-x-4">
    <div class="w-full md:w-1/2">
      <app-ingresos/> 
    </div>
    <!-- Componente: Egresos -->
    <div class="w-full md:w-1/2">
      <app-egresos [ingresoTotal]="getIngresoTotal()" />
    </div>
  </div>
</div>
